@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #6dd5ed;
  --background-start-rgb: #2193b0;
  --background-end-rgb: #6dd5ed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #6dd5ed;
    --background-start-rgb: #2193b0;
    --background-end-rgb: #6dd5ed;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);

}